#awards {
  img {
    width: 100%;
    height: 190px;
    &.large {
      height: 250px;
    }
  }
}


@media (max-width: 500px) {
  #awards {
    img {
      height: 100px;
      &.large {
        height: 100px;
      }
    }
  }
}