<section id="awards">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 text-center">
        <img src="/img/global/01-1clr-accounting-today.svg" class="img-fluid" alt="AccountingToday Best Accounting Firms to Work For 2020">
      </div>
      <div class="col-12 col-md-3 text-center">
        <img src="/img/global/02-1clr-hb-250.svg" class="img-fluid" alt="Hawaii Business Top 250 2011-2020">
      </div>
      <div class="col-12 col-md-3 text-center">
        <img src="/img/global/03-1clr-hb-bptw.svg" class="img-fluid" alt="Hawaii Business Best Places to work 2011-2020">
      </div>
      <div class="col-12 col-md-3 text-center"><img src="/img/global/04-1clr-bbb-torch.svg" class="img-fluid"
            alt="BBB Torch Awards for Ethics">
      </div>
    </div>
  </div>
</section>