<section id="awards" class="container">
  <div class="row">
    <div class="small-6 medium-4 columns medium-offset-2"><img src="/img/global/top250-footer-01.svg"></div>
    <div class="small-6 medium-4 columns end"><img src="/img/global/BPTW-footer-01.svg"></div>
  </div>
  <div class="row text-center">
    <div class="small-6 medium-5 columns medium-offset-2"><img src="/img/global/bbb-torch.svg"></div>
    <div class="small-6 medium-5 columns end"><img src="/img/global/united-way.svg"></div>
  </div>
</section>