<section id="awards">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 text-center">
        <img src="/img/global/pbn-2018-Fasest-50-Logo_bw.png" class="img-fluid" alt="Fastest 50 Logo">
      </div>
      <div class="col-6 col-md-4 text-center"><img src="/img/global/top250-2019-grey.svg" class="img-fluid" alt="Hawaii Business Top 250 Logo"></div>
      <div class="col-6 col-md-4 text-center"><img src="/img/global/BPTW-2019.svg" class="img-fluid" alt="Hawaii Business Best Places to work Logo">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-5 text-center"><img src="/img/global/bbb-torch.svg" class="img-fluid" alt="BBB Torch Awards Logo"></div>
      <div class="col-6 col-md-5 text-center"><img src="/img/global/united-way.svg" class="img-fluid" alt="United Way Best New Campaign Logo"></div>
    </div>
  </div>
</section>