<section id="contact-form" class="container">
  <div class="row">
    <div class="small-12 columns">
      <h2>Get In Touch</h2>
      <p>HiAccounting would be pleased to get in touch to discuss your accounting needs.</p>
    </div>
  </div>
  <form id="form36" name="form36" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
  action="https://ocupop.wufoo.com/forms/q1vgjjhz12x6p4l/#public">
    <div class="row">
      <div class="small-12 large-8 columns">
       <label for="Field3" class="sr-only">Full Name</label>
        <input id="Field3" name="Field3" type="text" value="" maxlength="255" tabindex="101" onkeyup="" placeholder="Full Name *" required />
      </div>
      <div class="small-12 large-4 columns">
       <label for="Field12" class="sr-only">Email</label>
        <input id="Field12" name="Field12" type="email" spellcheck="false" placeholder="Email *" spellcheck="false" value="" maxlength="255" tabindex="102" onkeyup="handleInput(this);" onchange="handleInput(this);" required="">
      </div>
     </div>
     <div class="row">
        <div class="small-12 large-4 columns">
         <label for="Field9" class="sr-only">Phone Number</label>
          <input id="Field9" name="Field9" type="text" placeholder="Phone *" value="" maxlength="255" tabindex="103" onkeyup="" required />
        </div>
        <div class="small-12 large-4 columns">
         <label for="Field6" class="sr-only">Company Name</label>
         <input id="Field6" name="Field6" type="text" placeholder="Company Name *" tabindex="104" maxlength="255" onkeyup="" required/>
        </div>
        <div class="small-12 large-4 columns">
         <label class="notranslate sr-only" for="Field14">Type of Company</label>
         <div class="select">
          <select tabindex="105">
            <option value="" selected disabled>Type of Company</option>
            <option
            value="Sole Proprietor" >
            <span class="notranslate">Sole Proprietor</span>
            </option>
            <option
            value="LLC" >
            <span class="notranslate">LLC</span>
            </option>
            <option
            value="Partnership" >
            <span class="notranslate">Partnership</span>
            </option>
            <option
            value="C-Corporation" >
            <span class="notranslate">C-Corporation</span>
            </option>
            <option
            value="S-Corporation" >
            <span class="notranslate">S-Corporation</span>
            </option>
            <option
            value="Other" >
            <span class="notranslate">Other</span>
            </option>
          </select>
         </div>
        </div>
     </div>
     <div class="row">
       <div class="small-12 large-4 columns">
         <label for="Field5" class="sr-only">Job Title</label>
         <input id="Field5" name="Field5" type="text" placeholder="Job Title" maxlength="255" tabindex="106" onkeyup=""/>
       </div>  
       <div class="small-12 large-4 columns">
         <label for="Field7" class="sr-only">Number Of Employees</label>
         <input id="Field7" name="Field7" type="text" placeholder="Number Of Employees" maxlength="255" tabindex="107" onkeyup=""/>
       </div>
       <div class="small-12 large-4 columns">
         <div id="services">
           Services
           <span class="arrow-down"></span>
         </div>
         <fieldset id="service-choices">
           <![if !IE | (gte IE 8)]>
           <legend id="title120" class="notranslate sr-only">
           Services
           </legend>
           <![endif]>
           <!--[if lt IE 8]>
           <label id="title120" class="desc">
           Services
           </label>
           <![endif]-->
           <div>
           <span class="subfield">
           <input id="Field120" name="Field120" type="checkbox" class="field checkbox" value="Financial Reporting &amp; Analysis" tabindex="8"     />
           <label class="choice" for="Field120">
           <span class="choice__text notranslate" >Financial Reporting & Analysis</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field121" name="Field121" type="checkbox" class="field checkbox" value="Outsourced CFO &amp; Controllership" tabindex="9"     />
           <label class="choice" for="Field121">
           <span class="choice__text notranslate" >Outsourced CFO & Controllership</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field122" name="Field122" type="checkbox" class="field checkbox" value="Accounts Payable &amp; Payment Processing" tabindex="10"     />
           <label class="choice" for="Field122">
           <span class="choice__text notranslate" >Accounts Payable & Payment Processing</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field123" name="Field123" type="checkbox" class="field checkbox" value="Accounts Receivable Management" tabindex="11"     />
           <label class="choice" for="Field123">
           <span class="choice__text notranslate" >Accounts Receivable Management</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field124" name="Field124" type="checkbox" class="field checkbox" value="Month-end Close" tabindex="12"     />
           <label class="choice" for="Field124">
           <span class="choice__text notranslate" >Month-end Close</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field125" name="Field125" type="checkbox" class="field checkbox" value="Cash Management &amp; Planning" tabindex="13"     />
           <label class="choice" for="Field125">
           <span class="choice__text notranslate" >Cash Management & Planning</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field126" name="Field126" type="checkbox" class="field checkbox" value="Bank Account Reconciliations" tabindex="14"     />
           <label class="choice" for="Field126">
           <span class="choice__text notranslate" >Bank Account Reconciliations</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field127" name="Field127" type="checkbox" class="field checkbox" value="Key Performance Indicator (KPI) Reporting" tabindex="15"     />
           <label class="choice" for="Field127">
           <span class="choice__text notranslate" >Key Performance Indicator (KPI) Reporting</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field128" name="Field128" type="checkbox" class="field checkbox" value="Financial Statement Audit Support" tabindex="16"     />
           <label class="choice" for="Field128">
           <span class="choice__text notranslate" >Financial Statement Audit Support</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field129" name="Field129" type="checkbox" class="field checkbox" value="Income Tax Returns" tabindex="17"     />
           <label class="choice" for="Field129">
           <span class="choice__text notranslate" >Income Tax Returns</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field130" name="Field130" type="checkbox" class="field checkbox" value="Fixed Asset Accounting" tabindex="18"     />
           <label class="choice" for="Field130">
           <span class="choice__text notranslate" >Fixed Asset Accounting</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           <span class="subfield">
           <input id="Field131" name="Field131" type="checkbox" class="field checkbox" value="1099 Preparation" tabindex="19"     />
           <label class="choice" for="Field131">
           <span class="choice__text notranslate" >1099 Preparation</span>
           <span class="choice__qty">
           </span>
           </label>
           </span>
           </div>
         </fieldset>
       </div>
     </div>
   <div class="row">
      <div class="small-12 large-8 columns">
        <label for="Field221" class="sr-only">Annual Revenues</label>
        <input id="Field221" name="Field221" type="text" placeholder="Annual Revenues" tabindex="104">
      </div>
      <div class="small-12 large-4 columns">
        <input id="saveForm" name="saveForm" type="submit" class="button expand" value="submit" />
      </div>
      <div class="hide">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="wzOXTzTa+ZpWLk3oLTNLtRU+w4vc/FRLw42++qXMzSI=" />
      </div>
    </div>
  </form>
</section>