<section id="contact-form" class="container">
  <div class="row">
    <div class="small-12 columns">
      <h2>Get In Touch</h2>
      <p>HiAccounting would be pleased to get in touch to discuss your accounting needs.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <div id="wufoo-wvzlody1al0jrz">
        Fill out my <a href="https://ocupop.wufoo.com/forms/wvzlody1al0jrz">online form</a>.
      </div>
      <script type="text/javascript">var wvzlody1al0jrz; (function (d, t) {
          var s = d.createElement(t), options = {
            'userName': 'ocupop',
            'formHash': 'wvzlody1al0jrz',
            'autoResize': true,
            'height': '895',
            'async': true,
            'host': 'wufoo.com',
            'header': 'hide',
            'ssl': true
          };
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function () {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { wvzlody1al0jrz = new WufooForm(); wvzlody1al0jrz.initialize(options); wvzlody1al0jrz.display(); } catch (e) { }
          };
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
    <div class="small-12 medium-3 columns" id="locations">
      <div class="row">
        <div class="small-6 medium-12 columns">
          <h2 class="">Locations</h2>
          <h1>Oahu Office</h1>
          700 Bishop St. Suite 600<br>
          Honolulu, Hi 96813<br>
          <b>Phone</b> 808.529.9990
          <br/><br/>
          <h1>Office Hours</h1>
          Monday - Friday<br />
          8:00am - 5:00pm<br />
          Closed on Holidays
        </div>
      </div>
    </div>
  </div>
</section>