<section id="contact-form" class="container">
  <div class="row">
    <div class="col-12">
      <h2>Get In Touch</h2>
      <p>HiAccounting would be pleased to get in touch to discuss your accounting needs.</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="small-12 medium-9 columns">
      <div id="wufoo-wvzlody1al0jrz">
        Fill out my <a href="https://ocupop.wufoo.com/forms/wvzlody1al0jrz">online form</a>.
      </div>
      <script type="text/javascript">var wvzlody1al0jrz; (function (d, t) {
          var s = d.createElement(t), options = {
            'userName': 'ocupop',
            'formHash': 'wvzlody1al0jrz',
            'autoResize': true,
            'height': '895',
            'async': true,
            'host': 'wufoo.com',
            'header': 'hide',
            'ssl': true
          };
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function () {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { wvzlody1al0jrz = new WufooForm(); wvzlody1al0jrz.initialize(options); wvzlody1al0jrz.display(); } catch (e) { }
          };
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
    <div class="small-12 medium-3 columns" id="locations">
      <div class="row">
        <div class="small-6 medium-12 columns">
          <h2 class="">Locations</h2>
          <h1>Oahu Office</h1>
          700 Bishop St. Suite 600<br>
          Honolulu, Hi 96813<br>
          <b>Phone</b> 808.529.9990
          <br/><br/>
          <h1>Office Hours</h1>
          Monday - Friday<br />
          8:00am - 5:00pm<br />
          Closed on Holidays
        </div>
      </div>
    </div>
  </div> -->


  {% if page.url contains 'get-in-touch' %}
  <form id="form64" name="form64" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
    enctype="multipart/form-data" method="post" novalidate
    action="https://ocupop.wufoo.com/forms/get-in-touch-hiaccounting-facebookinstagram/">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="form-group">
          <label for="Field3" class="sr-only">Full Name</label>
          <input id="Field3" class="form-control" name="Field3" type="text" value="" maxlength="255" tabindex="101"
            onkeyup="" placeholder="Full Name *" required />
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field12" class="sr-only">Email</label>
          <input id="Field12" class="form-control" name="Field12" type="email" spellcheck="false" placeholder="Email *"
            spellcheck="false" value="" maxlength="255" tabindex="102" onkeyup="handleInput(this);"
            onchange="handleInput(this);" required="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field9" class="sr-only">Phone Number</label>
          <input id="Field9" class="form-control" name="Field9" type="text" placeholder="Phone *" value="" maxlength="255"
            tabindex="103" onkeyup="" required />
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field6" class="sr-only">Company Name</label>
          <input id="Field6" class="form-control" name="Field6" type="text" placeholder="Company Name *" tabindex="104"
            maxlength="255" onkeyup="" required />
        </div>
  
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label class="notranslate sr-only" for="Field14">Type of Company</label>
          <div class="select">
            <select tabindex="105">
              <option value="" selected disabled>Type of Company</option>
              <option value="Sole Proprietor">
                <span class="notranslate">Sole Proprietor</span>
              </option>
              <option value="LLC">
                <span class="notranslate">LLC</span>
              </option>
              <option value="Partnership">
                <span class="notranslate">Partnership</span>
              </option>
              <option value="C-Corporation">
                <span class="notranslate">C-Corporation</span>
              </option>
              <option value="S-Corporation">
                <span class="notranslate">S-Corporation</span>
              </option>
              <option value="Other">
                <span class="notranslate">Other</span>
              </option>
            </select>
            <div class="arrow-down"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field5" class="sr-only">Job Title</label>
          <input id="Field5" class="form-control" name="Field5" type="text" placeholder="Job Title" maxlength="255"
            tabindex="106" onkeyup="" />
        </div>
  
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field7" class="sr-only">Number Of Employees</label>
          <input id="Field7" class="form-control" name="Field7" type="text" placeholder="Number Of Employees"
            maxlength="255" tabindex="107" onkeyup="" />
        </div>
  
      </div>
      <div class="col-12 col-lg-4">
        <div id="services">
          Services
          <span class="arrow-down"></span>
        </div>
        <fieldset id="service-choices">
          <![if !IE | (gte IE 8)]>
          <legend id="title120" class="notranslate sr-only">
            Services
          </legend>
          <![endif]>
          <!--[if lt IE 8]>
              <label id="title120" class="desc">
              Services
              </label>
              <![endif]-->
          <div>
            <span class="subfield">
              <input id="Field120" name="Field120" type="checkbox" class="field checkbox"
                value="Accounting/Bookkeeping Services" tabindex="8" />
              <label class="choice" for="Field120">
                <span class="choice__text notranslate">Accounting/Bookkeeping Services</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field121" name="Field121" type="checkbox" class="field checkbox"
                value="Outsourced CFO &amp; Controllership" tabindex="9" />
              <label class="choice" for="Field121">
                <span class="choice__text notranslate">Outsourced CFO & Controllership</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field122" name="Field122" type="checkbox" class="field checkbox"
                value="Accounting Clean-up/Catch-up" tabindex="10" />
              <label class="choice" for="Field122">
                <span class="choice__text notranslate">Accounting Clean-up/Catch-up</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field123" name="Field123" type="checkbox" class="field checkbox" value="Payroll Processing"
                tabindex="11" />
              <label class="choice" for="Field123">
                <span class="choice__text notranslate">Payroll Processing</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field124" name="Field124" type="checkbox" class="field checkbox"
                value="Federal and State Income Tax Return Preparation" tabindex="12" />
              <label class="choice" for="Field124">
                <span class="choice__text notranslate">Federal and State Income Tax Return Preparation</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field125" name="Field125" type="checkbox" class="field checkbox" value="Tax Planning & Advisory "
                tabindex="13" />
              <label class="choice" for="Field125">
                <span class="choice__text notranslate">Tax Planning & Advisory </span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field126" name="Field126" type="checkbox" class="field checkbox"
                value="General Excise Tax Return Filing (Form G-45 & G-49)" tabindex="14" />
              <label class="choice" for="Field126">
                <span class="choice__text notranslate">General Excise Tax Return Filing (Form G-45 & G-49)s</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field127" name="Field127" type="checkbox" class="field checkbox" value="1099 Preparation"
                tabindex="15" />
              <label class="choice" for="Field127">
                <span class="choice__text notranslate">1099 Preparation</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field128" name="Field128" type="checkbox" class="field checkbox"
                value="Key Performance Indicator (KPI) Reporting" tabindex="16" />
              <label class="choice" for="Field128">
                <span class="choice__text notranslate">Key Performance Indicator (KPI) Reporting</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field129" name="Field129" type="checkbox" class="field checkbox"
                value="Budgeting and Forecasting" tabindex="17" />
              <label class="choice" for="Field129">
                <span class="choice__text notranslate">Budgeting and Forecasting</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field130" name="Field130" type="checkbox" class="field checkbox" value="Business Planning"
                tabindex="18" />
              <label class="choice" for="Field130">
                <span class="choice__text notranslate">Business Planning</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="form-group">
          <label for="Field221" class="sr-only">Annual Revenues</label>
          <input id="Field221" class="form-control" name="Field221" type="text" placeholder="Annual Revenues"
            tabindex="104">
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <input id="saveForm" name="saveForm" type="submit" class="btn btn-primary btn-block" value="submit"
          onclick="gtag('event', 'contact form', {'event_category' : 'facebook or instagram contact form submit', 'event_label' : '{{ page.title }}' });" />
      </div>
      <div class="d-none">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="AoCHFDwJT12CNcm0YFgTtQ==" />
      </div>
    </div>
  </form>
  {% else %}
  <form id="form36" name="form36" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
    enctype="multipart/form-data" method="post" novalidate
    action="https://ocupop.wufoo.com/forms/q1vgjjhz12x6p4l/#public">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="form-group">
          <label for="Field3" class="sr-only">Full Name</label>
          <input id="Field3" class="form-control" name="Field3" type="text" value="" maxlength="255" tabindex="101" onkeyup=""
          placeholder="Full Name *" required />
        </div>  
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field12" class="sr-only">Email</label>
          <input id="Field12" class="form-control" name="Field12" type="email" spellcheck="false" placeholder="Email *" spellcheck="false"
          value="" maxlength="255" tabindex="102" onkeyup="handleInput(this);" onchange="handleInput(this);" required="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field9" class="sr-only">Phone Number</label>
          <input id="Field9" class="form-control" name="Field9" type="text" placeholder="Phone *" value="" maxlength="255" tabindex="103"
          onkeyup="" required />
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field6" class="sr-only">Company Name</label>
          <input id="Field6" class="form-control" name="Field6" type="text" placeholder="Company Name *" tabindex="104" maxlength="255"
          onkeyup="" required />
        </div>
        
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label class="notranslate sr-only" for="Field14">Type of Company</label>
          <div class="select">
            <select tabindex="105">
              <option value="" selected disabled>Type of Company</option>
              <option value="Sole Proprietor">
                <span class="notranslate">Sole Proprietor</span>
              </option>
              <option value="LLC">
                <span class="notranslate">LLC</span>
              </option>
              <option value="Partnership">
                <span class="notranslate">Partnership</span>
              </option>
              <option value="C-Corporation">
                <span class="notranslate">C-Corporation</span>
              </option>
              <option value="S-Corporation">
                <span class="notranslate">S-Corporation</span>
              </option>
              <option value="Other">
                <span class="notranslate">Other</span>
              </option>
            </select>
            <div class="arrow-down"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field5" class="sr-only">Job Title</label>
          <input id="Field5" class="form-control" name="Field5" type="text" placeholder="Job Title" maxlength="255" tabindex="106" onkeyup="" />
        </div>
        
      </div>
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="Field7" class="sr-only">Number Of Employees</label>
          <input id="Field7" class="form-control" name="Field7" type="text" placeholder="Number Of Employees" maxlength="255" tabindex="107"
          onkeyup="" />
        </div>
        
      </div>
      <div class="col-12 col-lg-4">
        <div id="services">
          Services
          <span class="arrow-down"></span>
        </div>
        <fieldset id="service-choices">
          <![if !IE | (gte IE 8)]>
          <legend id="title120" class="notranslate sr-only">
            Services
          </legend>
          <![endif]>
          <!--[if lt IE 8]>
            <label id="title120" class="desc">
            Services
            </label>
            <![endif]-->
          <div>
            <span class="subfield">
              <input id="Field120" name="Field120" type="checkbox" class="field checkbox"
                value="Accounting/Bookkeeping Services" tabindex="8" />
              <label class="choice" for="Field120">
                <span class="choice__text notranslate">Accounting/Bookkeeping Services</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field121" name="Field121" type="checkbox" class="field checkbox"
                value="Outsourced CFO &amp; Controllership" tabindex="9" />
              <label class="choice" for="Field121">
                <span class="choice__text notranslate">Outsourced CFO & Controllership</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field122" name="Field122" type="checkbox" class="field checkbox"
                value="Accounting Clean-up/Catch-up" tabindex="10" />
              <label class="choice" for="Field122">
                <span class="choice__text notranslate">Accounting Clean-up/Catch-up</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field123" name="Field123" type="checkbox" class="field checkbox"
                value="Payroll Processing" tabindex="11" />
              <label class="choice" for="Field123">
                <span class="choice__text notranslate">Payroll Processing</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field124" name="Field124" type="checkbox" class="field checkbox" value="Federal and State Income Tax Return Preparation"
                tabindex="12" />
              <label class="choice" for="Field124">
                <span class="choice__text notranslate">Federal and State Income Tax Return Preparation</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field125" name="Field125" type="checkbox" class="field checkbox"
                value="Tax Planning & Advisory " tabindex="13" />
              <label class="choice" for="Field125">
                <span class="choice__text notranslate">Tax Planning & Advisory </span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field126" name="Field126" type="checkbox" class="field checkbox"
                value="General Excise Tax Return Filing (Form G-45 & G-49)" tabindex="14" />
              <label class="choice" for="Field126">
                <span class="choice__text notranslate">General Excise Tax Return Filing (Form G-45 & G-49)s</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field127" name="Field127" type="checkbox" class="field checkbox"
                value="1099 Preparation" tabindex="15" />
              <label class="choice" for="Field127">
                <span class="choice__text notranslate">1099 Preparation</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field128" name="Field128" type="checkbox" class="field checkbox"
                value="Key Performance Indicator (KPI) Reporting" tabindex="16" />
              <label class="choice" for="Field128">
                <span class="choice__text notranslate">Key Performance Indicator (KPI) Reporting</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field129" name="Field129" type="checkbox" class="field checkbox" value="Budgeting and Forecasting"
                tabindex="17" />
              <label class="choice" for="Field129">
                <span class="choice__text notranslate">Budgeting and Forecasting</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
            <span class="subfield">
              <input id="Field130" name="Field130" type="checkbox" class="field checkbox" value="Business Planning"
                tabindex="18" />
              <label class="choice" for="Field130">
                <span class="choice__text notranslate">Business Planning</span>
                <span class="choice__qty">
                </span>
              </label>
            </span>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="form-group">
          <label for="Field221" class="sr-only">Annual Revenues</label>
          <input id="Field221" class="form-control" name="Field221" type="text" placeholder="Annual Revenues" tabindex="104">
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <input id="saveForm" name="saveForm" type="submit" class="btn btn-primary btn-block" value="submit" onclick="gtag('event', 'contact form', {'event_category' : 'contact form submit', 'event_label' : '{{ page.title }}' });" />
      </div>
      <div class="d-none">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="wzOXTzTa+ZpWLk3oLTNLtRU+w4vc/FRLw42++qXMzSI=" />
      </div>
    </div>
  </form>
  {% endif %}
  <script src="https://www.cognitoforms.com/f/seamless.js" data-key="bbN8iw1MJUqjPe6aHn-_rw" data-form="111"></script>
</section>