<section id="featured-testimonial" class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/img/testimonials/jessicaleorna.jpg" class="img-fluid" alt="Jessica Leorna"
          style="margin: 0 30px 30px 0;">
      </div>
      <div class="col-md-8">
        <h1>Featured Testimonial</h1>
        <hr>
        <h2 class="text-gray">Jessica Leorna</h2>
        <h4>Chief Executive Officer</h4>
        <p>Building Industry Association of Hawaii</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="text-gray" style="margin: 30px 0; line-height: 1.5;">“Stan and Liana, along with the entire
          HiAccounting Team are very professional and well organized, reliable and
          trustworthy. Once committed to a project, the team follows through and exceeds expectations, providing timely
          and
          accurate updates along the way. BIA-Hawaii strongly recommends HiAccounting to anyone who is seeking a
          reliable team to
          help grow their business, streamline their fiscal processes and procedures, and strengthen their internal
          controls.”</h4>
      </div>
    </div>
  </div>
</section>
<section id="featured-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/img/testimonials/testimonials-cara-short.jpg" class="img-fluid" alt="Cara Short"
          style="margin: 0 30px 30px 0;">
      </div>
      <div class="col-md-8">
        <h1>Featured Testimonial</h1>
        <hr>
        <h2 class="text-gray">Cara Short</h2>
        <h4>Executive Director at AccesSurf</h4>
        <p>AccesSurf is a nonprofit that has worked with HiAccounting since 2014. They build an inclusive community that
          empowers
          people with disabilities through accessible beach and water programs.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="text-gray" style="margin: 30px 0; line-height: 1.5;">“AccesSurf has worked with HiAccounting for many
          years and it has been a true pleasure. Their professional and
          friendly
          staff are welcoming and have elevated our accounting systems to be more comprehensive and fitting for our
          organization.
          Not to mention that Matt and his whole team give back so to the community. It is so wonderful to see a company
          be so
          supportive of its local community and provide exceptional service.”</h4>
        <hr>
        <h4>Services with HiAccounting: <em>Full Service Accounting and Tax</em></h4>
        <ul class="col2">
          <li>Monthly financial statement preparation
            <ul>
              <li>Comparative with budget variance</li>
              <li>By program</li>
            </ul>
          </li>
          <li>Accounts payable processing</li>
          <li>Fixed asset reconciliations</li>
          <li>Bank reconciliations</li>
          <li>Credit card reconciliations</li>
          <li>1099 preparation and filing</li>
          <li>GET reporting and filing</li>
          <li>Budgeting and forecasting</li>
          <li>Form 990 Federal and State income tax preparation</li>
          <li>Tax advisory</li>
          <li>Other compliance reporting as needed</li>
        </ul>
      </div>
    </div>
  </div>
</section>