<footer id="page-footer" class="container">
  <div id="footernav" class="row">
    <div class="small-12 columns small-text-center content">
      <a href="{{ site.baseurl }}" title="Home">Home</a>
      &nbsp;|&nbsp;
      <a href="{{ site.baseurl }}/about" title="About">About</a>
      &nbsp;|&nbsp;
      <a href="{{ site.baseurl }}/services" title="Services">Services</a>
      &nbsp;|&nbsp;
      <a href="{{ site.baseurl }}/careers" title="Careers">Careers</a>
      &nbsp;|&nbsp;
      <a href="{{ site.baseurl }}/contact" title="Contact">Contact</a>
      <hr>
    </div>
  </div>
  <div id="copyright" class="row">
    <div class="small-12 medium-4 columns small-text-center medium-text-left">
      <img src="/img/logo-gray.svg">
    </div>
    <div class="small-12 medium-4 columns small-text-center">
      <p>
        &copy; <script> document.write(new Date().getFullYear()) </script> Hawaii Accounting
      </p>
    </div>
    <div class="small-12 medium-4 columns small-text-center medium-text-right social">
      <a href="https://www.facebook.com/HiAccounting-1328166123896683/" title="follow HiEmployment on Facebook" target="_blank">
        <img src="/img/global/social-facebook.svg">
      </a>
      <!-- <a href="https://twitter.com/" title="Hear what HiEmployment is tweeting about!" target="_blank">
        <img src="/img/global/social-twitter.svg">
      </a> -->
      <a href="https://www.linkedin.com/company/" title="" target="_blank">
        <img src="/img/global/social-linkedin.svg">
      </a>
      <a href="https://plus.google.com/110872711672470065463" title="" target="_blank">
        <img src="/img/global/social-google.svg" alt="Google Plus icon">
      </a>
    </div>
  </div>
  <div id="footersub" class="gray-dark">
    <div class="row">
      <a href="http://thehawaiigroup.com/" target="_blank">
        <img src="/img/global/footer-logo-higroup.png"/>
      </a>
      <ul class="inline-list right">
        <li><a href="http://hi-employment.com" target="_blank"><img src="/img/global/footer-logo-employment.png"/></a></li>
        <li><a href="http://hi-accounting.com" target="_blank"><img src="/img/global/footer-logo-accounting.png"/></a></li>
        <li><a href="http://hihealthcarehawaii.com/" target="_blank"><img src="/img/global/footer-logo-healthcare.png"/></a></li>
      </ul>
    </div>
  </div>
</footer>
