
     <section class="container">
       <div class="row">
         <div class="small-12 columns">
           <h2>Get In Touch</h2>
           <p>HiEmployment would be pleased to get in touch to discuss your staffing needs.</p>
         </div>
       </div>
       <form id="form24" name="form24" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
       action="https://ocupop.wufoo.com/forms/m1fizd44111pgbj/#public">
         <div class="row">
           <div class="small-12 medium-6 large-8 columns flush">
             <div class="small-12 large-6 columns">
               <input id="Field3" name="Field3" type="text" placeholder="First Name *" tabindex="100" maxlength="255" onkeyup="" required />
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field4" name="Field4" type="text" placeholder="Last Name *" tabindex="101"  maxlength="255" onkeyup="" required/>
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field12" name="Field12" type="email" placeholder="Email *" spellcheck="false" value="" maxlength="255" tabindex="103" onkeyup="handleInput(this);" onchange="handleInput(this);" required="">
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field9" name="Field9" type="text" placeholder="Phone *" value="" maxlength="255" tabindex="104" onkeyup="" required />
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field5" name="Field5" type="text" placeholder="Job Title *" tabindex="105" maxlength="255" onkeyup="" required/>
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field6" name="Field6" type="text" placeholder="Company Name *" tabindex="106" maxlength="255" onkeyup="" required/>
             </div>
             <div class="small-12 large-6 columns">
               <input id="Field7" name="Field7" type="text" placeholder="Number Of Employees *" maxlength="255" tabindex="107" onkeyup="" required/>
             </div>
             <div class="small-12 large-6 columns">
               <input id="saveForm" name="saveForm" type="submit" class="button expand" value="submit" />
             </div>
             <div class="hide">
               <label for="comment">Do Not Fill This Out</label>
               <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
               <input type="hidden" id="idstamp" name="idstamp" value="7NizaAZnTxZGcx7CT89TOUAauyoLeJqjHwSs1rw7k2Y=" />
             </div>
           </div>
           <div class="medium-6 large-4 show-for-medium-up columns">
             <img src="/img/global/form-sidebar-image.jpg" class="responsive" />
           </div>
         </div>
       </form>
     </section>
     <section id="locations" class="container gray">
       <div class="row">
         <div class="small-12 large-3 columns large-offset-1">
           <h1>Oahu ( Headquarters )</h1>
           Topa Financial Center<br/>
           745 Fort Street<br/>
           Suite 124<br/>
           Honolulu, HI, 96813<br/>
           <b>Phone</b> 808.695.2222
         </div>
         <div class="small-12 large-2 columns">
           <h1>Kauai</h1>
           2970 Kele Street<br />
           Suite 213<br />
           Lihue, HI 96766<br />
           <b>Phone</b> 808.482.3901
         </div>
         <div class="small-12 large-2 columns">
           <h1>Maui, Kahului</h1>
           285 W Ka'ahumanu Ave, #210<br/>
           Kahului, HI 96732<br/>
           <b>Phone</b> 808.856.4000<br/>
         </div>
         <div class="small-12 large-3 columns end">
           <h1>Hawaii Island</h1>
           73-4976 Kamanu Street<br/>
           Suite 201<br/>
           Kailua-Kona, HI 96740<br/>
           <b>Phone</b> 808.329.6343<br/>
         </div>
       </div>
     </section>
     <section id="awards" class="container">
       <div class="row">
         <div class="small-3 medium-4 columns medium-offset-2"><img src="/img/global/hb-top-250.svg"></div>
         <div class="small-3 medium-4 columns end"><img src="/img/global/hawaii-business-best-workplace.svg"></div>
       </div>
       <div class="row text-center">
         <div class="small-5 columns small-offset-2"><img src="/img/global/bbb-torch.svg"></div>
         <div class="small-3 columns end"><img src="/img/global/united-way.svg"></div>
       </div>
     </section>
  </div>
  <footer id="page-footer" class="container">
    <div id="footernav" class="row">
      <div class="small-12 columns small-text-center content">
        <a href="/" title="Home">Home</a>
        &nbsp;|&nbsp;
        <a href="/about" title="About">About</a>
        &nbsp;|&nbsp;
        <a href="/industries" title="Specialties">Specialties</a>
        &nbsp;|&nbsp;
        <a href="/contact" title="Contact">Contact</a>
        &nbsp;|&nbsp;
        <a href="#" target="_blank" title="Press">Press</a>
        <hr>
      </div>
    </div>
    <div id="copyright" class="row">
      <div class="small-12 medium-4 columns small-text-center medium-text-left">
        <img src="/img/logo-gray.svg">
      </div>
      <div class="small-12 medium-4 columns small-text-center">
        <p>
          &copy; <script> document.write(new Date().getFullYear()) </script> Hawaii Accounting
        </p>
      </div>
      <div class="small-12 medium-4 columns small-text-center medium-text-right social">
        <a href="https://www.facebook.com/" title="follow HiEmployment on Facebook" target="_blank">
          <img src="/img/global/social-facebook.svg">
        </a>
        <a href="https://twitter.com/" title="Hear what HiEmployment is tweeting about!" target="_blank">
          <img src="/img/global/social-twitter.svg">
        </a>
        <a href="https://www.linkedin.com/company/" title="" target="_blank">
          <img src="/img/global/social-linkedin.svg">
        </a>
        <a href="https://plus.google.com/" title="" target="_blank">
          <img src="/img/global/social-google.svg">
        </a>
      </div>
    </div>
    <div id="footersub" class="gray-dark">
      <div class="row">
        <img src="/img/global/footer-logo-higroup.png"/>
        <ul class="inline-list right">
          <li><a href="http://hi-employment.com" target="_blank"><img src="/img/global/footer-logo-employment.png"/></a></li>
          <li><a href="http://www.hi-accounting.com" target="_blank"><img src="/img/global/footer-logo-accounting.png"/></a></li>
          <li><a href="http://hihealthcarehawaii.com/" target="_blank"><img src="/img/global/footer-logo-healthcare.png"/></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var params = window.location.search.substring(1);
  if (params.indexOf('thanks') > -1 ) {
    $('#message').show();
    setTimeout(function(){ 
      $('#message').fadeOut('slow');
    }, 4000);
  }
});

</script>
</body>
</html>