<footer id="page-footer">
  <div class="container">
    <div id="copyright" class="row">
      <div class="col-12 col-md-4 text-center">
        <img src="/img/logo-gray.svg">
      </div>
      <div class="col-12 col-md-4 text-center">
        <p>
          &copy;
          {{ site.time | date: '%Y' }} Hawaii Accounting
        </p>
      </div>
      <div class="col-12 col-md-4 text-center social">
        <a href="https://www.facebook.com/Hawaii-Accounting-364807074271947" title="follow HiEmployment on Facebook"
          target="_blank">
          <i class="icon icon-social-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/company/hiaccounting" title="" target="_blank">
          <i class="icon icon-social-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/hiaccounting/" title="" target="_blank">
          <i class="icon icon-social-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<section id="footersub">
  <div class="container">
    <div class="row navbar justify-content-center">
      <div class="col-12 col-lg-6 text-center">
        <a href="http://thehawaiigroup.com/" target="_blank">
          <img src="/img/global/footer-logo-higroup.png" class="pb-5" />
        </a>
      </div>
      <div class="navbar-nav flex-md-row col-12 col-md-9 col-lg-6 justify-content-center">
        <div class="row justify-content-center">
          <div class="nav-item col-8 col-md-6 pb-4"><a href="http://hi-accounting.com" target="_blank">
            {% include HiAccounting-RGB-HORIZ-CLR-WHT.svg %}
          </a></div>
          <div class="nav-item col-8 col-md-6 pb-4"><a href="https://californiaaccounting.com" target="_blank">
              {% include CaAccounting-RGB-HORIZ-CLR-WHT.svg %}
            </a></div>
          <div class="nav-item col-8 col-md-6 pb-4"><a href="http://hihealthcarehawaii.com/" target="_blank">
            {% include HiHealthCare-RGB-HORIZ-CLR-WHT.svg %}
          </a></div>
          <div class="nav-item col-8 col-md-6 pb-4"><a href="http://demandhr.com/" target="_blank">
            {% include DemandHR-RGB-HORIZ-CLR-WHT.svg %}
          </a></div>
          
        </div>
      </div>
    </div>
  </div>
</section>
