<div id="page">
  <header id="page-header">
    <div id="topnav" class="show-for-medium-up">
      <div class="row">
        <div id="iconnav" class="small-12 medium-4 columns">
          <a href="http://hi-accounting.com/"><i class='icon-accounting'></i></a>
          <a href="http://hi-employment.com/"><i class='icon-employment'></i></a>
          <a href="http://hihealthcarehawaii.com/"><i class='icon-nursing'></i></a>
        </div>
        <div class="medium-8 columns show-for-medium-up">
          <ul class="inline-list right">
            <li class="search">
              <a href="/search" id="topsearch">
                <label>Search</label>
                <input type="text" placeholder="Search..." name="search" onkeyup="buttonUp();" required />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <nav id="mobilenav" class="top-bar hide-for-medium-up" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ site.baseurl }}/">HiEmployment</a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span class="icon-menu"></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="menu">
          <li class="mobile-search"><a href="/search">Search</a></li>
          <li><a href="/">Home</a></li>
          <li class="has-dropdown">
            <a href="#">About</a>
            <!-- <ul class="dropdown">
              <li><a href="<?php home_url(); ?>/"></a></li>
              <li><a href="<?php home_url(); ?>/"></a></li>
              <li><a href="<?php home_url(); ?>/"></a></li>
            </ul> -->
          <li class="has-dropdown">
            <a href="#">Services</a>
            <!-- <ul class="dropdown">
              <li><a href="<?php home_url(); ?>/"></a></li>
              <li><a href="<?php home_url(); ?>/"></a></li>
            </ul> -->
          </li>
          <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
          <li><a href="{{ site.baseurl }}/contact" data-nav="contact">Contact</a></li>
        </ul>
      </section>
    </nav>
    
    <div id="mainnav" class="show-for-medium-up">
      <div class="row">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="{{ site.baseurl }}/">HiAccounting</a></h1>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="/" title="HiEmployment">Home</a></li>
              <li class="mega_menu">
                <a href="{{ site.baseurl }}/about">About</a>
                <div class="dropdown">
                  <div class="row" data-nav="about">
                    <div class="medium-2 columns medium-offset-6">
                      <h3><a href="/team">Team</a></h3>
                      <ul>
                        <li><a href="/team#management-team" rel="m_PageScroll2id">Management Team</a></li>
                        <li><a href="/team#staff" rel="m_PageScroll2id">Staff</a></li>
                      </ul>
                    </div>
                    <div class="medium-2 columns end">
                      <h3><a href="/about">Advantage</a></h3>
                      <ul>
                        <li><a href="/about#benefits" rel="m_PageScroll2id">Benefits</a></li>
                        <li><a href="/about#awards" rel="m_PageScroll2id">Awards</a></li>
                        <li><a href="/about#technology-partners" rel="m_PageScroll2id">Technology Partners</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="mega_menu">
                <a href="{{ site.baseurl }}/services">Services</a>
                <!-- <div class="dropdown">
                  <div class="row">
                    <div class="medium-4 columns medium-offset-4">
                      <h3><a href="<?php home_url(); ?>/industries">Industries</a></h3>
                    </div>
                    <div class="medium-4 columns">
                      <h3><a href="<?php home_url(); ?>/executive-search">Executive Search</a></h3>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="medium-2 columns medium-offset-4">
                      <ul>
                        <li><a href="<?php home_url(); ?>/industries#hospitality" rel="m_PageScroll2id">Hospitality</a></li>
                        <li><a href="<?php home_url(); ?>/industries#education" rel="m_PageScroll2id">Education</a></li>
                        <li><a href="<?php home_url(); ?>/industries#professional" rel="m_PageScroll2id">Professional</a></li>
                      </ul>
                    </div>
                    <div class="medium-2 columns">
                      <ul>
                        <li><a href="<?php home_url(); ?>/industries#industrial" rel="m_PageScroll2id">Industrial</a></li>
                        <li><a href="<?php home_url(); ?>/industries#technical" rel="m_PageScroll2id">Technical</a></li>
                        <li><a href="<?php home_url(); ?>/industries#medical" rel="m_PageScroll2id">Medical</a></li>
                      </ul>
                    </div>
                    <div class="medium-2 columns">
                      <ul>
                        <li><a href="<?php home_url(); ?>/executive-search#executive-recruiting">Executive &amp; Recruiting</a></li>
                        <li><a href="<?php home_url(); ?>/executive-search#services">Our Services</a></li>
                      </ul>
                    </div>
                    <div class="medium-2 columns">
                      <ul>
                        <li><a href="<?php home_url(); ?>/executive-search#retained-search">Retained Search</a></li>
                        <li><a href="<?php home_url(); ?>/executive-search#contingency-search">Contingency Search</a></li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </li>
              <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
              <li><a href="{{ site.baseurl }}/contact" data-nav="contact">Contact</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>
  <div id="page-content" role="main">
    <div id="message" data-alert class="alert-box" style="display: none; margin-top: 90px; margin-bottom: 0;">
      <div class="row">
        <p><strong>Thanks</strong> for your inquiry. We will be in touch shortly.</p>
        <a href="#" class="close">&times;</a>
      </div>
    </div>