<section id="locations" class="container gray">
  <div class="row">
    <div class="small-12 large-3 columns">
      <h1>Oahu ( Headquarters )</h1>
      Topa Financial Center<br/>
      745 Fort Street<br/>
      Suite 116<br/>
      Honolulu, HI, 96813<br/>
      <b>Phone</b> 808.529.9990
    </div>
    <div class="small-12 large-3 columns">
     <div class="content">
       <h1>Kauai</h1>
       2970 Kele Street<br />
       Suite 213<br />
       Lihue, HI 96766<br />
       <b>Phone</b> 808.482.3901
     </div>
    </div>
    <div class="small-12 large-3 columns">
      <h1>Maui</h1>
      285 W Ka'ahumanu Ave, #210<br/>
      Kahului, HI 96732<br/>
      <b>Phone</b> 808.856.4000<br/>
    </div>
    <div class="small-12 large-3 columns">
      <h1>Hawaii Island</h1>
      73-4976 Kamanu Street<br/>
      Suite 201<br/>
      Kailua-Kona, HI 96740<br/>
      <b>Phone</b> 808.329.6343<br/>
    </div>
  </div>
</section>