<section id="locations" class="container gray">
  <h2 class="print-only text-center">Locations</h2>
  <div class="row">
    <div class="small-12 large-3 columns">
      <h1>Oahu ( HiAccounting/HiGroup: )</h1>
      Bishop Tower<br>
      700 Bishop St. Suite 600<br>
      Honolulu, Hi 96813<br>
      <b>Phone</b> 808.529.9990
    </div>
    <div class="small-12 large-3 columns">
     <h1>Kauai</h1>
     2970 Kele Street<br />
     Suite 213<br />
     Lihue, HI 96766<br />
     <b>Phone</b> 808.482.3901
    </div>
    <div class="small-12 large-3 columns">
      <h1>Maui</h1>
      285 W Ka'ahumanu Ave, #210<br/>
      Kahului, HI 96732<br/>
      <b>Phone</b> 808.856.4000<br/>
    </div>
    <div class="small-12 large-3 columns">
      <h1>Hawaii Island</h1>
      73-4976 Kamanu Street<br/>
      Suite 201<br/>
      Kailua-Kona, HI 96740<br/>
      <b>Phone</b> 808.329.6343<br/>
    </div>
  </div>
</section>