<section id="locations" class="gray">
  <div class="container">
    <h2 class="print-only text-center">Locations</h2>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-12 col-lg-6"></div>
          <div class="col-12 col-lg-6">
            <h1>Oahu Office</h1>
            700 Bishop St. Suite 600<br>
            Honolulu, Hi 96813<br>
            <b>Phone</b> 808.529.9990
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h1>Office Hours</h1>
            Monday - Friday<br />
            8:00am - 5:00pm<br />
            Closed on Holidays
          </div>
          <div class="col-12 col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
</section>