<div class="posts" data-src-url="{{ site.press_url }}{{ site.local_press_url }}">
  <div class="col-xs-12 post">
    <div class="content">
      <span class="close-post">show all press<span class="close">x</span></span>
      <h2 class="post-title"><a href="" class="post-link"></a></h2>
      <p class="post-date date"></p>
      <div class="post-excerpt"></div>
      <div class="post-content"></div>
      <a href="" class="post-pdf" target="_blank">PDF</a>
      <p class="post-link"><em>Continue Reading</em></p>
    </div>
  </div>
</div>