<!-- Javascript -->
<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src='/js/modernizr.min.js' defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" defer></script>
<script src="{{ site.baseurl }}/js/vendor/lunr.min.js" defer></script>
<script src="{{ site.baseurl }}/js/search.js" defer></script>
<script src="{{ site.baseurl }}/js/main.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
