<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{page.layout}}">
    {% include header.html %}
    <section id="site-search-results" class="gray">
      <span id="close-search">x</span>
      <div class="container">
        <div class="row">
          <div class="small-12">
            <h2>Search Results</h2>
            <hr>
            <ul id="search-results-local">
              
            </ul>
            <h3>Press Results</h3>
            <ul id="search-results-posts"></ul>
          </div>
        </div>
      </div>
    </section>
    {{ content }}
    
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
