---
layout: default
---

<section id="resource">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mt-3 mt-md-0">{{ page.title }}</h1>
        <p>{{ page.date | date: "%m/%d/%Y" }}</p>
        {% if page.hero_image %}
        <img src="{{ page.hero_image }}" class="img-fluid" alt="{{ page.title }} image">
        {% else %}
        <img src="img/logo.svg" alt="HiAccounting Logo">
        {% endif %}
        <div class="editable">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>