---
layout: default
---

<section id="staff-member">
  <div class="container">
    <div class="row">
      <div class="medium-4 columns">
        {% if page.profile_image %}
          <img src="{{ page.profile_image }}" alt="">
        {% else %}
          <img src="img/logo.svg" alt="HiAccounting Logo">
        {% endif %}
      </div>
      <div class="medium-8 columns">
        <h1>{{ page.name }}{% if page.job_title %}<br/>{{ page.job_title }}{% endif %}</h1>
        <p>{{ page.bio_html }}</p>
        <p>
          <a href="{{ page.email }}"><i class="icon-icon-email"></i></a>
          <a href="{{ page.linkedin }}"><i class="icon-icon-linkedin"></i></a>
        </p>
        <p><a href="{{ site.baseurl }}/team">&lt; Back to Team</a></p>
      </div>
    </div>
  </div>
</section>