#benefits {
  h2 {
    margin: 20px 0;
  }
  img {
    margin: 10px 0;
  }
}

#staff-member {
  i {
    color: $gray;
    font-size: 25px;
  }
}

.greend {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $primary-color;
  color: #ffffff;
}