#benefits {
  ul.accordion {
    margin: 0;
  }
  .accordion-navigation a {
    background-color: $primary-color;
    color: $white;
    margin-bottom: 10px;
  }
  .accordion-navigation ul {
    margin: 20px;
    li {
      margin-left: 10px;
    }
  }
}
.lifetyle-images {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
  }
}
