.cognito {
  .c-forms-form {
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      border-radius: 0;
      background-color: #EFEFF0;
      border-style: solid;
      border-width: 0px;
      border-color: #cccccc;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      color: rgba(0,0,0,0.75);
      display: block;
      font-family: 'ITCBookmanW01-LightItal',serif;
      font-size: 0.875rem;
      line-height: 43px;
      height: 43px;
      text-indent: 10px;
      margin-bottom: 10px;
    }
    textarea {
      height: auto;
    }
    .c-label {
      background: transparent;
    }
    .c-action-col {
      position: absolute;
      left: -35px;
      top: 5px;
    }
    .c-repeating-section-item-title {
      padding-left: 30px;
    }
    .c-repeating-section-container {
      margin-top: 30px;
    }
    legend {
      font-size: 16px !important;
    }
    .c-repeating-section-add {
      text-align: center;
      button {
        width: 98%;
        border: 1px solid $primary-color;
        color: $primary-color;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
      }
    }

    input[type="radio"] {
      margin-top: -5px;
      margin-right: 3px;
    }

    input[type="checkbox"] {
      margin-top: -5px;
    }
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      background-color: #f1f1f1;
      color: #888;
      top: 0;
      height: 30px;
      width: 30px;
      border: 0;
      border-radius: 50px;
      cursor: pointer;     
      margin-right: 7px;
      margin-bottom: 0;
      outline: none;
    }
    input[type="checkbox"]:checked::before {
      position: absolute;
      font: 13px/1 'Open Sans', sans-serif;
      left: 11px;
      top: 7px;
      content: '\02143';
      transform: rotate(40deg);
    }
    // input[type="checkbox"]:hover {
    //   background-color: #f7f7f7;
      
    // }
    input[type="checkbox"]:checked{
      background-color: #f1f1f1;
    }
    .c-choice-fillin {
      input[type="text"] {
        margin-top: -10px;
        margin-bottom: 0;
      }
    }
    .c-helptext {
      font-size: 13px;
    }
  }
}