#tax-preparation, #tax-planning, #irs-audit, #tax-problems {
  i {
    font-size: 100px;
  }
  ul {
    li {
      font-style: italic;
    }
  }
}

#tax-preparation {
  ul {
    list-style-type: none;
    margin-left: 20px;
    li {
      position: relative;
      padding-left: 10px;
      &:before {
        content: "\e917";
        font-family: 'higroup';
        font-size: 25px;
        position: absolute;
        left: -25px;
        top: -7px;
        display: block;
        color: $primary-color;
      }
    }
  }
}