---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "settings";
// Mixins
@import "vendor/bootstrap/breakpoints";

@import "mixins";
@import "typography";
@import "global";
@import "utils";

// Sections
@import "sections/awards";
@import "sections/testimonials";

// Components
@import "_components/page_header";
@import "_components/page_footer";
@import "_components/hero";
@import "_components/buttons";
@import "_components/cognito";
@import "_components/image_slider";
@import "_components/modal";
@import "_components/subnav";
@import "_components/page_content";
@import "_components/search";
@import "_components/card";
@import "_components/icons";
@import "_components/forms";
@import "_components/posts";
@import "_components/print";
@import "_components/flex_grid";
@import "_components/iframe";
@import "_components/notification_bar";

// Pages
@import "_pages/home";
@import "_pages/team";
@import "_pages/services";
@import "_pages/about";
@import "_pages/value";
@import "_pages/careers";
@import "_pages/resources";
@import "_pages/nonprofits";
@import "_pages/industries";
@import "_pages/press";

#positions {
  p {
    margin-bottom: 0;
  }
}

#how-we-help {
  i {
    display: block;
    font-size: 70px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  h6 {
    small {
      display: block;
      line-height: 1;
      color: $primary;
      margin-top: 10px;
    }
  }
}

#apply-now {
  h2 {
    margin-top: 40px;
  }
}

// Logos
.logo-support {
  margin: 50px auto;
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */
@media (min-width: 90.063em) {
  #carousel-wrapper {
    height: 490px;
    i {
      margin-left: -132.5px;
      margin-top: -132.5px;
      font-size: 275px;
    }
  }
}

@media (min-width: 64.063em) {
  #mainnav {
    .top-bar {
      .top-bar-section {
        ul {
          li {
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  #carousel-wrapper {
    height: 400px;
    i {
      margin-left: -132.5px;
      margin-top: -132.5px;
      font-size: 275px;
    }
  }
  #hero-carousel {
    .hero-wrap {
      .hero-content {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  #service-list li {
    height: 105px;
    //@include grid-column($columns:4, $collapse:true);
    .tab {
      height: 95px;
      img {
        max-width: 25%;
      }
      &.active {
        height: auto;
        min-height: 204px;
      }
    }
  }
  .hero-content {
    padding: 5%;
    width: 100%;
    h2 {
      font-size: 2rem;
    }
  }
  .searchbox-wrapper {
    width: 450px;
  }
  .logo {
    width: 100%;
    padding: 10px 15px;
  }
}

@media (min-width: 61.875em) {
  .logged-in {
    #page-content {
      margin-top: 80px;
    }
  }
  #page-content {
    margin-top: 105px;
  }
  #mainnav {
    .top-bar {
      padding-right: 0.9375rem;
      .top-bar-section {
        ul {
          li {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  #service-list li {
    height: 115px;
    //@include grid-column($columns:6, $collapse:true);
    .tab {
      height: 105px;
      &.active {
        width: 96%;
        height: auto;
        min-height: 344px;
        position: absolute;
        margin: 0;
        top: 0;
        margin-top: 3px;
        margin-left: 10px;
        z-index: 999;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
      h5 {
        margin-left: 28%;
        font-size: 16px;
      }
    }
  }
  ul#support-list {
    text-align: center;
    h2 {
      border: none;
      color: #fff;
      font-size: 31px;
      i {
        font-size: 45px;
      }
    }
    // h1 {
    //   text-indent: -10px;
    // }
  }
  #iconnav {
    text-align: left;

  }
  #carousel-wrapper {
    height: 300px;
    position: relative;
    i {
      position: absolute;
      top: 35%;
      left: 50%;
      margin-left: -50px;
      //font-size: 100px;
      color: #ddd;
    }
  }
  #content-support {
    background: url(/img/backgrounds/bg-lighthouse-large.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    p {
      color: #fff;
    }
  }

  #testimonials {
    em {
      font-size: 28px;
    }
    p {
      font-size: 20px;
    }
  }
  #search {
    padding-bottom: 50px;
    input {
      text-indent: 10px;
    }
  }
  #footersub {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.6);
    background-color: $gray-800;
    ul {
      li {
        a {
          line-height: 40px;
        }
      }
    }
  }

  .hero {
    height: 450px;
    .hero-content {
      padding: 2% 0;
      width: 80%;
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 45px;
        line-height: 1;
      }
    }
    .hero-caption {
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #locations {
    .content {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  #mainnav {
    .top-bar {
      .title-area {
        .name {
          h1 {
            a {
              width: 180px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  
  .call-to-action {
    a {
      display: inline-block;
    }
  }
  #accounting-you-can-trust {
    i {
      margin-bottom: 10px;
    }
  }
  #footernav {
    a {
      font-size: 11px;
      padding: 0 3px;
    }
  }
  #services-list {
    li {
      .tab {
        margin: 5px 0;
      }
    }
  }
  #core-services {
    &.container {
      padding: 30px 0;
    }
  }
  .hero,
  #home-hero {
    .hero-caption {
      text-align: center;
      h1 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.1;
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
  #carouselExampleIndicators {
  .hero-caption {
    text-align: center;
    h1 {
      font-size: 30px;
      line-height: 1;
      margin-bottom: 10px;
      min-height: 0;
      height: auto;
    }
  }
}


  #job-search {
    input[type="checkbox"] {
      margin: 10px 5px 0 20px;
    }
    input[type="submit"] {
      float: none !important;
      display: block;
      width: 100%;
    }
    .job-type {
      text-align: center;
      .content {
        padding: 0;
      }
    }
  }

  ul#support-list {
    li {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  #testimonials {
    p {
      em {
        font-size: 16px;
      }
      font-size: 12px;
    }
  }

  #technology-partners {
    .bill-logo {
      height: auto;
    }
  }

  #support-mobile-hero {
    display: table !important;
    height: 140px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      height: auto;
      min-height: 0;
      line-height: 140px;
      width: 100%;
    }
    i {
      color: $primary;
    }
  }
}

// TB: Add on Utilities
ul.col2 {
  column-count: 2;
}

@media (max-width: 768px) {
  ul.col2 {
    column-count: 1;
  }
}
