---
layout: default
title: COVID-19 Updates From HiAccounting
---

<section class="container">
  <div class="row">
    <div class="col-12">
      <h1>COVID-19 Resource Center From HiAccounting</h1>
      <hr class="my-5" />
      <h4 class="mb-4">Email Links</h4>
      <ul>
        {% for object in site.data.covid_emails %}
        <li><small>{{ object.email_date| date: "%m/%d/%Y" }} - </small><a href="{{ object.link_url }}">{{ object.title }}</a></li>
        {% endfor %}
      </ul>
      <hr class="my-5" />
      <h4 class="mb-4">Tax Announcements</h4>
      <ul>
        {% for object in site.data.covid_tax_announcements %}
        <li><small>{{ object.announcement_date | date: "%m/%d/%Y" }} - </small><a href="{{ object.announcement_url }}">{{ object.title }}</a></li>
        {% endfor %}
      </ul>
      <hr class="my-5" />
      <h4 class="mb-4">Operations</h4>
      <div class="editable">
        <h5>HiAccounting Office Hours</h5>
        <p>HiAccounting continues to remain open during normal business hours, Monday through Friday, 8:00 AM to 5:00 PM.</p>
        <h5>Remote Meetings and Communication</h5>
        <p>Our team is equipped to service you remotely via conference or video chat. We have given our team members the option to
        work from home, therefore, you may meet remotely instead of in-person. With our technology, we have the ability to share
        documents with you through a screen share or through or secure client portal.</p>
        <p>If you need to come in and drop off payment, sign any documents, deliver anything to the office, or require a
        face-to-face meeting please confirm with your client service team before you come into the office.</p>
        <h5>No Changes to Service</h5>
        <p>At this time, there should be little to no disruption to your recurring accounting, tax or payroll services. However, if
        you have any concerns please contact your client service team immediately to address.</p>
        <h5>Income Tax Deadline Updates</h5>
        <p>Our tax professionals are staying up-to-date on any imperative changes to income tax deadlines and will communicate with
        tax clients as needed. If you have any questions, please contact your tax service team immediately to address.</p>
        <h5>Management Contact</h5>
        <p>In case you have any questions or concerns you’d like to address with management, contact information is provided below:</p>
        <p>Matthew Delaney, CEO/President<br /><a href="mailto:mdelaney@thehawaiigroup.com">mdelaney@thehawaiigroup.com</a></p>
        <p>Liana Fajayan, Managing Director<br /><a href="mailto:liana@thehawaiigroup.com ">liana@thehawaiigroup.com</a>
        </p>
        <p>Sheri Miyashiro, Tax Manager<br /><a href="mailto:smiyashiro@hi-accounting.com  ">smiyashiro@hi-accounting.com</a>
        </p>
        <p>Your business is important to us and we will continue to communicate proactively</p>
        <p>Mālama pono,<br/>HiAccounting Team</p>
        <hr class="my-5" />
      </div>
      <h1>Give Us A Call</h1>
      <p>We’d love to hear from you and talk about how our local accounting and tax team can help you and your business focus on
      the things that matter most. Got questions? Concerns? That’s what we’re here for.</p>
      <h4>Call Us</h4>
      <p>You can reach us at any time by calling <a href="tel:{{ site.contact_number }}" onclick="gtag('event', 'contact phone', {'event_category' : 'phone link triggered', 'event_label' : '{{ site.contact_number }}' });">{{ site.contact_number }}</a>. <br>If we’re not in, leave a message and we’ll get back to you as soon as we can.</p>

      <h4>Email Us</h4>
      <p><a href="mailto:info@hi-accounting.com" onclick="gtag('event', 'contact email', {'event_category' : 'email link triggered', 'event_label' : 'info@hi-accounting.com' });">info@hi-accounting.com</a></p>
      <p>Please do not use e-mail to send us sensitive information (such as bank information or social security numbers).</p>
      <p>E-mail could be intercepted by a third party during transmission; we cannot guarantee its security while in transit.
      Please contact us to learn more about our encrypted email options.</p>

      <h4>Visit Us</h4>
      <p>We are located in the Bishop Tower of the Topa Financial Center across from The Aloha Tower. We are on the 6th floor.</p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <address>
            <strong>HiAccounting</strong><br>
            700 Bishop St. Suite 600<br>
            Honolulu, Hi 96813<br>
            <a
              href="https://www.google.com/maps/place/Hawaii+Accounting+(HiAccounting)/@21.3074881,-157.8655798,17z/data=!3m1!4b1!4m5!3m4!1s0x7c006e7452ec94e5:0x44b6f2f90cf79b0!8m2!3d21.3074881!4d-157.8633911">View
              on Map</a>
          </address>
          <br /><br />
          <p><strong>Office Hours</strong><br />Monday - Friday<br />8:00 AM - 5:00 PM<br />Closed on Holidays</p>
        </div>
        <div class="col-md-6">
          <p><strong>Parking</strong><br/>The guest parking garage entrance is on Ala Moana Blvd.</p>
          <img src="/img/contact/garage.jpg">
        </div>
      </div>
      </div>
    </div>
  </div>
</section>