---
layout: default
title: Industries

testimonial:
  quote: 'We value our relationship with the team at HiAccounting. Over the last 7 years, HiAccounting has provided a steady service to our real estate venture, travel operating company and our brand marketing business. They have a depth of knowledge in many industries that has been a huge benefit for us to use HiAccounting for our various businesses over the year.'
  author: 'Thomas Jaenichen, President – SWAT Real Estate LLC, Summer Winter Action Tours, LLC & SWAT Marketing LLC'
---
<section class="hero" style="background-image: url(/uploads/industries_hero.jpg);">
  <div class="hero-caption">
    <h1 class="editable">Industries</h1>
  </div>
</section>
<section id="industries">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hawaii is Unique – So is Your Organization!</h1>
        <p>Our subject matter experts have experience that spans a broad scope of industry niches. From our staff to our
          senior
          level management team, we have developed accounting and tax expertise tailored to industries we serve. By
          mastering the
          craft of accounting and tax by industry with the right team, we have the ability to provide unique solutions
          with real
          life experience.</p>
        <h4 class="mt-5 mb-4">Industries</h4>  
        <div class="row industry-grid">
          {% for object in site.data.industries %}
          <div class="col-md-6 col-lg-4 col-12">
            <div class="card-deck">
              <div class="card mb-5 border">
                <img class="card-img-top" src="{{ object.hero }}" alt="Card image cap">
                <div class="card-body mb-3">
                  <h3 class="card-title">{{ object.title }}</h3>
                  <p class="card-text">{{ object.description}}</p>
                  {% if object.link_slug %}
                  <a class="btn btn-primary" href="/{{ object.link_slug }}">Read More</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <hr>
        <h4>Choose HiAccounting</h4>
        <p>HiAccounting has worked with hundreds of companies covering a wide variety of industries, our professionals
          understand
          what would work best for you. Your expectations will be met from day one.</p>
      </div>
    </div>
  </div>
</section>