---
layout: default
title: Team HiAccounting
---

<section class="hero" style="background-image: url(/img/team/hero-team.jpg);">
  <div class="hero-caption">
    <h1 class="editable">Team</h1>
  </div>  
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="small-12 columns">
        <div class="editable">
          <h1>Our Team</h1>
          <p>Comprised of business leaders with decades of experience both locally and abroad, Hawaii Accounting is unmatched with the attention, value, reliability and piece of mind we offer our clientele.</p>
          <p>Interested in joining the team? <a href="{{ site.baseurl }}/careers">Learn more on our Careers page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gray">
  <div class="container">
    {% for object in site.data.team %}
    <div id="{{ object.name | slugify }}" class="row">
      <div class="small-12 columns">
        <h1>{{ object.name }}</h1>
      </div>
    </div>
    <ul class="team">
      {% for ordered in object.staff %}
      {% assign member = site.staff | where: "slug", ordered | first %}
      <li class="row">
        <div class="medium-4 columns">
          {% if member.profile_image %}
            <img src="{{ member.profile_image }}" alt="Profile Image">
          {% else %}
            <i class="icon-accounting"></i>
          {% endif %}
        </div>
        <div class="medium-8 columns bio">
          <h3>{{ member.name }}<small> {% if member.job_title %}- {{ member.job_title }}{% endif %}</small></h3>
          <p>{{ member.bio_html | truncatewords: 50 }}</p>
          {% assign num_words = member.bio_html | number_of_words %}
          {% if num_words > 50 %}
            <p><a href="{{ member.url }}">Read More</a></p>
          {% endif %}
          {% if member.email %}
            <a href="mailto:{{ member.email }}" class="contact-icon"><i class="icon-icon-email"></i></a>
          {% endif %}
          {% if member.linkedin %}
            <a href="{{ member.linkedin }}" class="contact-icon" target="_blank"><i class="icon-icon-linkedin"></i></a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>