---
layout: default
title: Testimonials
---
<section class="hero" style="background-image: url(/img/testimonials/hero-testimonials.jpg);">
  <div class="hero-caption">
    <h1 class="editable">Testimonials</h1>
  </div>
</section>

{% include featured_testimonial.html %}
<div class="testimonial-list">
  <section class="gray">
    <div class="container">
      <div class="row">
        {% for testimonial in site.data.testimonials %}
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 text-center p-5">
              <h4><em class="text-gray">&ldquo;
                  {{ testimonial.quote }}
                  &rdquo;</em></h4>
              <p>{{ testimonial.source }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>