---
layout: default
title: Testimonials
---
<section class="hero" style="background-image: url(/img/testimonials/hero-testimonials.jpg);">
  <div class="hero-caption">
    <h1 class="editable">Testimonials</h1>
  </div>
</section>

{% include featured_testimonial.html %}
<div class="testimonial-list">
  <section class="gray">
    <div class="container">
      <div class="row">
        {% for testimonial in site.data.testimonials %}
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 text-center p-5">
              <h4><em class="text-gray">&ldquo;
                  {{ testimonial.quote }}
                  &rdquo;</em></h4>
              <p>{{ testimonial.source }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>See Why Our Clients Love Working With Us!</h2>
          <a href="https://www.google.com/search?q=hiaccounting&rlz=1C1OWKM_en&sxsrf=AOaemvItJ4B9d6Hv11gDtyk9R3aT75IOFg%3A1634083552480&ei=4CJmYaTQHIqo1sQPoPS8qAU&oq=hiaccounting&gs_lcp=Cgdnd3Mtd2l6EAMYATIECCMQJzIECCMQJzIECCMQJzIHCAAQsQMQCjIKCAAQsQMQyQMQCjIFCAAQkgMyBQgAEJIDMgcIABCxAxAKMg0IABCxAxCDARCxAxAKMgQIABAKOgcIIxCwAxAnOgcIABBHELADOgoILhDIAxCwAxBDOgUILhCRAjoLCC4QxwEQ0QMQkQI6CAguELEDEIMBOg4ILhCABBCxAxDHARDRAzoLCAAQgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARCjAjoECAAQQzoHCAAQsQMQQzoECC4QQzoNCC4QsQMQxwEQ0QMQQzoLCC4QgAQQsQMQgwE6BwguELEDEEM6BwgAEIAEEAo6FgguELEDEIMBELEDEMcBENEDEMkDEAo6CggAELEDEIMBEAo6DQguELEDEMcBEKMCEApKBQg8EgEzSgQIQRgAUIsnWI8tYKs4aANwAngAgAG1AYgBtQWSAQMxLjWYAQCgAQHIAQvAAQE&sclient=gws-wiz#lrd=0x7c006e7452ec94e5:0x44b6f2f90cf79b0,1,,," target="_blank"><img src="/uploads/greviews.png" class="my-5"></a>
          <br/><br/>
          <a href="https://www.google.com/search?q=hiaccounting&rlz=1C1OWKM_en&sxsrf=AOaemvItJ4B9d6Hv11gDtyk9R3aT75IOFg%3A1634083552480&ei=4CJmYaTQHIqo1sQPoPS8qAU&oq=hiaccounting&gs_lcp=Cgdnd3Mtd2l6EAMYATIECCMQJzIECCMQJzIECCMQJzIHCAAQsQMQCjIKCAAQsQMQyQMQCjIFCAAQkgMyBQgAEJIDMgcIABCxAxAKMg0IABCxAxCDARCxAxAKMgQIABAKOgcIIxCwAxAnOgcIABBHELADOgoILhDIAxCwAxBDOgUILhCRAjoLCC4QxwEQ0QMQkQI6CAguELEDEIMBOg4ILhCABBCxAxDHARDRAzoLCAAQgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARCjAjoECAAQQzoHCAAQsQMQQzoECC4QQzoNCC4QsQMQxwEQ0QMQQzoLCC4QgAQQsQMQgwE6BwguELEDEEM6BwgAEIAEEAo6FgguELEDEIMBELEDEMcBENEDEMkDEAo6CggAELEDEIMBEAo6DQguELEDEMcBEKMCEApKBQg8EgEzSgQIQRgAUIsnWI8tYKs4aANwAngAgAG1AYgBtQWSAQMxLjWYAQCgAQHIAQvAAQE&sclient=gws-wiz#lrd=0x7c006e7452ec94e5:0x44b6f2f90cf79b0,1,,,"
            target="_blank" class="btn btn-primary d-inline-block">View Reviews</a>
        </div>
      </div>
    </div>
  </section>
</div>